@model WebDungCuLamBanh.Models.KhuyenMaiModel
@{
    ViewData["Title"] = "Thêm khuyến mại";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1>Thêm khuyến mại</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-controller="Administrator" asp-action="CreateSaleOff" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenKhuyenMai" class="control-label">Tên khuyến mại</label>
                <input asp-for="TenKhuyenMai" class="form-control" type="text" required/>
                <span asp-validation-for="TenKhuyenMai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayBatDau" class="control-label">Ngày bắt đầu</label>
                <input asp-for="NgayBatDau" class="form-control" type="datetime-local"/>
                <span asp-validation-for="NgayBatDau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayKetThuc" class="control-label">Ngày kết thúc</label>
                <input asp-for="NgayKetThuc" class="form-control" type="datetime-local" />
                <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
            </div>
            <input asp-for="TrangThai" class="form-control" value="0" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Tiếp tục" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}
<div>
    <a asp-action="SaleOff">Trở lại danh sách sản phẩm</a>
</div>

@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
 *@


