@model WebDungCuLamBanh.Models.BannerModel

@{
    ViewData["Title"] = "Tạo Banner";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Tạo banner mới</h1>
@ViewBag.Error
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBanner" asp-controller="Administrator" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_Banner" class="control-label">Thứ tự</label>
                <input asp-for="Id_Banner" class="form-control" required />
                <span asp-validation-for="Id_Banner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenBanner" class="control-label"></label>
                <input asp-for="TenBanner" class="form-control" required/>
                <span asp-validation-for="TenBanner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hình ảnh</label>
                <input name="imageInput" type="file" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="LienKet" class="control-label"></label>
                <input asp-for="LienKet" class="form-control" />
                <span asp-validation-for="LienKet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Banner" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở lại danh sách</a>
</div>

