
@{
    ViewData["Title"] = "Chính sách giao hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    
    .cuocphi {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }

    .cuocphi th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .cuocphi th {
        background-color: #f2f2f2;
    }

    h1, h2, h3 {
        color: #333;
    }

    .highlight {
        font-weight: bold;
        color: #d9534f;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }
</style>

<div class="p-3 p-sm-4 p-lg-5" style="margin-top:30px;">
    <div class="row" style="background-color:white;border-radius:20px;padding:50px">
        <h2 style="text-align:center">Chính sách giao hàng</h2>
        <p style="font-style:italic;text-align:center">Cập nhật ngày 13 tháng 6 năm 2024</p>
        <br/>
        

        <h4>Giao hàng bởi Whisk & Flourish</h4>
        <ul>
            <li>- Áp dụng tại khu vực nội thành TP. HCM</li>
            <li>- Phí áp dụng: <span class="highlight">10.000 ₫</span></li>
            <li>- Giao hàng trong ngày.</li>
            <li>- Khung giờ giao hàng từ <span class="highlight">09:00 đến 21:00</span> mỗi ngày.</li>
        </ul>

        <h4>Giao hàng bởi dịch vụ chuyển phát bên thứ ba</h4>
        <ul>
            <li>- Áp dụng cho các khu vực khác.</li>
            <li>- Phí áp dụng: từ <span class="highlight">21.000 đến 35.000 ₫</span> tuỳ nhà vận chuyển.</li>
            <li>- Giao hàng từ <span class="highlight">2 đến 5 ngày</span>.</li>
        </ul>

        <h4>Cước phí áp dụng</h4>
        <table class="cuocphi">
            <thead>
                <tr>
                    <th>Tỉnh</th>
                    <th>Khu vực</th>
                    <th>Cước phí áp dụng</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tp. HCM</td>
                    <td>Quận 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, Tân Bình, Tân Phú, Gò Vấp, Hóc Môn, Bình Thạnh, Bình Tân</td>
                    <td style="text-align:right">10.000 ₫</td>
                </tr>
                <tr>
                    <td>Tp. HCM</td>
                    <td>Quận 9, Thủ Đức, Củ Chi, Nhà Bè, Cần Giờ, Bình Chánh</td>
                    <td style="text-align:right">21.000 ₫</td>
                </tr>
                <tr>
                    <td>Bình Dương</td>
                    <td>Thủ Dầu Một, Dĩ An, Thuận An</td>
                    <td style="text-align:right">27.000 ₫</td>
                </tr>
                <tr>
                    <td>Long An</td>
                    <td>Đức Hoà</td>
                    <td style="text-align:right">30.000 ₫</td>
                </tr>
                <tr>
                    <td>Tây Ninh</td>
                    <td>Trảng Bàng</td>
                    <td style="text-align:right">30.000 ₫</td>
                </tr>
                <tr>
                    <td>Đồng Nai</td>
                    <td>Biên Hoà</td>
                    <td style="text-align:right">30.000 ₫</td>
                </tr>
                <tr>
                    <td>Tỉnh khác</td>
                    <td>-</td>
                    <td style="text-align:right">35.000 ₫</td>
                </tr>
            </tbody>
        </table>

        <h4>Quy cách niêm phong</h4>
        <ul>
            <li>- Tất cả hàng hoá Whisk & Flourish gửi qua đơn vị vận chuyển bên thứ ba đều được cân trọng lượng, dán niêm phong trước khi gửi.</li>
            <li>- Trọng lượng của hàng gửi bao gồm cả vỏ hộp, được ghi rõ trên vỏ hộp bằng bút dạ ghi bảng.</li>
            <li>- Giấy niêm phong có đóng dấu tròn của Công ty hoặc dán băng dính có thương hiệu Whisk & Flourish.</li>
            <li>
                - Trong trường hợp Quý khách hàng phát hiện thấy giấy niêm phong đã bị rách, hoặc có dấu hiệu bị mở trước đó và hoặc hàng (bao gồm cả vỏ hộp) không đủ trọng lượng được ghi trên vỏ hộp:
                <ul style="padding-left: 20px;">
                    <li>+ Quý khách lập biên bản ngay với vận chuyển.</li>
                    <li>+ Thông báo ngay cho nhân viên kinh doanh Whisk & Flourish để có hướng giải quyết kịp thời.</li>
                </ul>
            </li>
            <li>- Chậm nhất là <span class="highlight">2 ngày</span> kể từ khi hàng về đến nơi theo yêu cầu của Quý khách hàng, nếu Quý khách hàng không phản hồi thông tin cho Whisk & Flourish thì Whisk & Flourish coi như Quý khách hàng đã nhận đúng, đủ hàng theo thoả thuận.</li>
        </ul>
        <h4>Liên hệ</h4>
        <p>Để biết thêm thông tin chi tiết, vui lòng liên hệ với chúng tôi qua:</p>
        <ul>
            <li>Hotline: <span class="highlight">0123 456 789</span></li>
            <li>Email: <span class="highlight">
                <a href="mailto:contact@whiskflourish.vn">contact@whiskflourish.vn</a>
            </span></li>
        </ul>
        <p>Whisk & Flourish trân trọng cảm ơn!</p>
    </div>
</div>


