
@{
    ViewData["Title"] = "Chương trình thành viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    h2 {
        color: #333;
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    .note {
        color: #555;
        font-style: italic;
    }
</style>
<div class="row" style="width:50px;">
</div>
<div class="p-3 p-sm-4 p-lg-5" style="margin-top:30px;">
    <div class="row" style="padding-top:20px; background-color:white;border-radius:20px;padding:20px">
        <h2 style="text-align:center">Chương trình thành viên</h2>
        <p style="font-style:italic;text-align:center">Cập nhật ngày 13 tháng 6 năm 2024</p>
        <br />
        <h3>1. Thành viên là gì?</h3>
        <p>Thành viên (hay còn gọi là khách hàng thân thiết) là một chương trình của Whisk & Flourish tạo ra để mang đến nhiều ưu đãi và quyền lợi hấp dẫn dành riêng cho những khách hàng sử dụng dịch vụ của chúng tôi. Tài khoản thành viên được quản lý và cập nhật theo email của khách hàng.</p>

        <h3>2. Làm sao để trở thành thành viên của Whisk & Flourish?</h3>
        <p>Bạn sẽ là thành viên của Whisk & Flourish ngay sau khi đăng ký tài khoản khách hàng trên Website của chúng tôi bằng việc cung cấp:</p>
        <p>- Họ tên</p>
        <p>- Số điện thoại</p>
        <p>- Email</p>
        <p>Trong các lần mua kế tiếp bạn chỉ cần đăng nhập vào tài khoản đã đăng ký trước đó và sử dụng các quyền lợi của thành viên.</p>

        <h3>3. Quyền lợi của thành viên gồm những gì?</h3>
        
        <p>- Quý khách sẽ được thông báo các ưu đãi hiện có.</p>
        <p>- Quyền lợi tích lũy điểm mua hàng.</p>
        <p>- Các chương trình khuyến mãi độc quyền khác.</p>
        <h3>4. Tích lũy điểm mua hàng là gì?</h3>
        <p>Khi sử dụng tài khoản thành viên, các đơn hàng được mua sẽ được chuyển 10% giá trị đơn hàng thành điểm tích lũy và có thể sử dụng ở lần mua hàng tiếp theo.</p>
        <p>1 điểm tích lũy tương đương với 1 VND (₫)</p>

        <h3>5. Liên hệ ai khi cần được hỗ trợ?</h3>
        <p>Nhân viên Whisk & Flourish luôn sẵn sàng hỗ trợ bạn đăng ký thành viên, tra cứu chi tiêu tích lũy, và cung cấp các ưu đãi. Hoặc liên hệ chúng tôi qua Email: <a href="mailto:contact@whiskflourish.vn">contact@whiskflourish.vn</a> bạn nhé!</p>

        <p class="note">Whisk & Flourish trân trọng cảm ơn!</p>
    </div>
</div>
