@model WebDungCuLamBanh.Models.HoaDonNhapHangModel

@{
    ViewData["Title"] = "Thêm hoá đơn";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Thêm hoá đơn mới</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_HoaDonNhap" class="control-label">Mã hoá đơn</label>
                <input asp-for="Id_HoaDonNhap" class="form-control" />
                <span asp-validation-for="Id_HoaDonNhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_NhaCungCap" class="control-label">Nhà cung cấp</label>
                <select asp-for="Id_NhaCungCap" class="form-control" asp-items="ViewBag.Id_NhaCungCap"></select>
            </div>
            <div class="form-group">
                
                <input asp-for="TongTien" class="form-control" value="0" type="hidden"/>
                <span asp-validation-for="TongTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo hoá đơn" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về danh sách</a>
</div>

