@model WebDungCuLamBanh.Models.BannerModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>BannerModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_Banner" />
            <div class="form-group">
                <label asp-for="TenBanner" class="control-label"></label>
                <input asp-for="TenBanner" class="form-control" />
                <span asp-validation-for="TenBanner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuongDan" class="control-label"></label>
                <input asp-for="DuongDan" class="form-control" />
                <span asp-validation-for="DuongDan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LienKet" class="control-label"></label>
                <input asp-for="LienKet" class="form-control" />
                <span asp-validation-for="LienKet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

