
@{
    ViewData["Title"] = "Lỗi 404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .bg {
        height: 500px;
        padding: 10px; /* Thiết lập padding với giá trị dương hợp lệ */
        background-image: url('/logo/Error404.png'); /* Đường dẫn đến hình ảnh nền */
        background-position: leftt; /* Canh giữa hình ảnh nền */
        background-repeat: no-repeat; /* Không lặp lại hình ảnh nền */
        background-size:cover;
    }
</style>
<div class="row bg">
    <div class="col-md-6 emoji text-center" >
        
    </div>
    <div class="col-md-6 error-content" style="padding-top:100px">
        <div class="alert alert-danger" role="alert">
            <h1>Hmm...</h1>
            <h1>Có gì đó hông ổn</h1>
            <p>Trang bạn đang tìm hiện hông tìm thấy, bị lỗi hoặc bị gì đó...</p>
            <a href="/Home/Index" style="text-decoration:none;font-weight:bold;color:red">Quay lại Trang chủ.</a>
        </div>      
        
    </div>

</div>



