@model WebDungCuLamBanh.Models.AdminModel

@{
    ViewData["Title"] = "Chỉnh sửa thông tin";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Chỉnh sửa thông tin</h1>

<h4>Thông tin quản trị viên</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TenNguoiDung" />

            <div class="form-group">
                <label asp-for="MatKhau" class="control-label">Mật khẩu</label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Quyen" class="control-label">Quyền</label>
                <input asp-for="Quyen" class="form-control" />
                <span asp-validation-for="Quyen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ten" class="control-label">Tên</label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label">Số điện thoại</label>
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Lưu lại" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>
