@model WebDungCuLamBanh.Models.KhachHangModel
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
    }

    .bg {
        height: 100%;
        padding: 10px; /* Thiết lập padding với giá trị dương hợp lệ */
        background-image: url('/logo/bg-login.jpg'); /* Đường dẫn đến hình ảnh nền */
        background-size: cover; /* Đảm bảo hình ảnh phủ kín toàn bộ phần tử */
        background-repeat:unset; /* Không lặp lại hình ảnh nền */
        background-position:center; /* Canh giữa hình ảnh nền */
    }

</style>
<body>
    <div class="bg">
    @if (ViewBag.Error != null)
    {
        <br />
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }
    <div class="row" style="padding:30px;background-image:url(~/logo/bg-login.jpg)">
        <div class="col-md-6" style="padding-top:50px">
            <h2>Chào mừng đến</h2>          
                <img src="~/logo/logodai.png" class="rounded" height="70px">
            <h6>Đăng nhập ngay để nhận ưu đãi thành viên cực nóng hổi</h6>
        </div>
            <div class="col-md-6" style="opacity: 0.97;background-color:white;padding:30px;border-radius:20px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
            <!-- Form Đăng Nhập -->
            <form asp-action="SignIn">
                <div class="form-outline mb-4">
                        <input style="border-radius:20px" asp-for="Email" type="email" id="" class="form-control" placeholder="Email" required />

                </div>
                <div class="form-group mb-4">

                    <input style="border-radius:20px" name="password" type="password" id="loginPassword" class="form-control" placeholder="Mật khẩu" required />
                </div>
                
                    <button style="width:100%;border-radius:20px;background-color:#f8d9d6" value="SignIn" type="submit" class="btn mb-4"><b>Đăng nhập</b></button>
                @* <button style="border-radius:20px" value="SignIn" type="submit" class="btn btn-primary btn-block mb-4">Đăng nhập bằng Facebook</button>
                <button style="border-radius:20px;background-color:red" value="SignIn" type="submit" class="btn btn-primary btn-block mb-4">Đăng nhập bằng Google</button> *@
                    <div class="col-md-12 d-flex justify-content-center">
                        <!-- Simple link -->
                        <a href="/Account/ResetPassword" style="text-decoration:none">Bạn quên mật khẩu?</a>
                    </div>
                    <hr/>
                    <br/>
                    <button style="width:100%;border-radius:20px;background-color:#f8d9d6" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn mb-4"><b>Tạo tài khoản mới</b></button>
            </form>
            @*         <form asp-action="SignInAnonymously">
            <button style="border-radius:20px;background-color:gray" value="SignInAnonymously" type="submit" class="btn btn-primary btn-block mb-4">Đăng nhập ẩn danh</button>
            </form> *@

        </div>
        
    </div>


</div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius:20px">
                <div class="modal-header">
                    <div class="modal-title" id="staticBackdropLabel">
                        <h3>Đăng ký</h3>
                        <a style="color:gray">Nhanh chóng và dễ dàng.</a>
                    </div>
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="background-color:white;border-radius:20px;margin-bottom:20px">
                        <!-- Form Đăng Ký -->
                        <form asp-controller="Account" asp-action="SignUp">
                            <div class="form-group md-4">
                                <input style="border-radius:20px" asp-for="TenKhachHang" type="text" id="registerName" class="form-control" placeholder="Tên của bạn" />
                            </div>
                            <br />
                            <div class="form-group md-4">

                                <input style="border-radius:20px" asp-for="Email" type="email" id="registerEmail" class="form-control" placeholder="Email" required />
                            </div>
                            <br />
                            <div class="form-group md-4">

                                <input style="border-radius:20px" name="password" type="password" id="registerPassword" class="form-control" placeholder="Mật khẩu" required />
                            </div>
                            <br />
                            <p>
                                Bằng cách nhấn vào đăng ký nghĩa là bạn đã đồng ý với <a href="/Home/Privacy">chính sách và điều khoản dịch vụ</a> của chúng tôi.
                            </p>
                            <br />
                            @* <button style="border-radius:20px" action="SignUp" type="submit" class="btn btn-primary btn-block mb-3">Đăng kí</button> *@
                            <button style="width:100%;border-radius:20px;background-color:#f8d9d6" value="SignUp" type="submit" class="btn mb-4"><b>Đăng ký</b></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="width:300px;">
            <div class="toast-body">
                <a>Trang web này sử dụng các công nghệ như cookie để kích hoạt chức năng thiết yếu của trang web, khi bạn truy cập trang web nghĩa là bạn đã chấp nhận chính sách bảo mật của chúng tôi.</a>
                <div class="mt-2 pt-2 border-top">

                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Tôi đã hiểu</button>
                </div>
            </div>
        </div>

        <script src="~/js/cookie-toast.js"></script>
    </div>
    </body>
