@model IEnumerable<WebDungCuLamBanh.Models.MaGiamGiaModel>
@using WebDungCuLamBanh.Helpers;
@{
    ViewData["Title"] = "Mã giảm giá";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1>Danh sách mã giảm giá</h1>
<div class="d-flex justify-content-left" style="margin-right:10px">
    <div class="mr-3">
        <a class="btn btn-primary" asp-action="CreateVoucher" role="button">Thêm 1 mã mới</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã giảm giá
            </th>
            <th>
                Tên mã giảm giá
            </th>
            <th>
                Giá trị giảm
            </th>
            <th>
                Lượt sử dụng
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_MaGiamGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenMaGiamGia)
                </td>
                <td>
                    @Html.FormatCurrency(item.GiaTriGiam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LuotSuDung) lượt
                </td>
                <th>
                    <a href="/Administrator/DeleteVoucher?id=@item.Id_MaGiamGia">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </a>
                </th>
            </tr>
        }
    </tbody>
</table>