@model WebDungCuLamBanh.Models.KhachHangModel;
@{
    ViewData["Title"] = "Mật khẩu và bảo mật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .breadcrumb-item a {
        color: gray;
        text-decoration: none;
    }

    .list-group-item {
        background-color: #fbf1f1; /* Adjust as needed */
        border-radius: 20px;
        border: none;
    }

        .list-group-item:hover {
            background-color: #f8d9d6; /* Adjust as needed */
            border-radius: 20px;
        }

        .list-group-item a {
            text-decoration: none;
            color: #49130e;
        }

    .current {
        background-color: #f8d9d6;
    }
</style>
<div class="p-3 p-sm-4 p-lg-5" style="padding-top:0!important;">
    <nav style="--bs-breadcrumb-divider: '>'; padding-top:20px" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/Account/Edit/@ViewBag.uid">Tài khoản</a></li>
            <li class="breadcrumb-item" aria-current="page">Đổi mật khẩu</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item" aria-current="true"><a href="/Account/Edit/@ViewBag.uid">Tài khoản</a></li>
                <li class="list-group-item" aria-current="true"><a href="/Account/History/">Lịch sử đơn hàng</a></li>
                <li class="list-group-item current" aria-current="true"><a href="/Account/ChangePassword/"><b>Mật khẩu và Bảo mật</b></a></li>
                <li class="list-group-item" aria-current="true"><a asp-action="FavoriteProduct" asp-controller="Account">Sản phẩm yêu thích</a></li>
                <li class="list-group-item" aria-current="true"><a asp-action="Notification" asp-controller="Account">Thông báo</a></li>
            </ul>
        </div>
        <div class="col-md-8" style="padding:30px">
            @if (ViewBag.error != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.error
                </div>
            }
            @if (ViewBag.success != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.success
                </div>
            }
            <h5>Mật khẩu</h5>
            <a>Vì sự an toàn, Shop khuyến khích khách hàng sử dụng mật khẩu mạnh</a>

            <br />
            <div class="row">
                <div class="col-md-5">
                    <form asp-controller="Account" asp-action="ChangePassword">
                        <div class="form-outline mb-4">
                            <input name="oldPassword" type="password" id="oldPassword" class="form-control" placeholder="Nhập mật khẩu cũ" required />
                        </div>
                        <div class="form-outline mb-4">
                            <input name="newPassword" type="password" id="newPassword" class="form-control" placeholder="Nhập mật khẩu mới" required />
                        </div>
                        <div class="form-outline mb-4">
                            <input name="password" type="password" id="rewritePassword" class="form-control" placeholder="Nhập lại mật khẩu mới" required />
                        </div>
                        <!-- Submit button -->
                        <button style="border-radius:20px;background-color:#f8d9d6;color:#49130e" action="ChangePassword" type="submit" class="btn mb-3"><b>Lưu thay đổi</b></button>
                    </form>
                    <button style="border-radius:20px;background-color:#f8d9d6;color:#49130e" action="DeleteAccount" class="btn mb-3"><b>Xoá tài khoản</b></button>

                </div>
                <div class="col-md-5">
                    <b>Mật khẩu của bạn</b>
                    <p>Phải 6 ký tự trở lên</p>
                    <p>Nên có ít nhất 1 số hoặc 1 ký tự đặc biệt</p>
                    <p>Không nên giống với mật khẩu được sử dụng gần đây</p>
                </div>
            </div>
        </div>
    </div>


</div>

