@{
    ViewData["Title"] = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="p-3 p-sm-4 p-lg-5" style="padding-top:0px!important;">
    <h4>Đặt lại mật khẩu</h4>
    <div class="col-md-5 align-content-center">
        <form asp-action="ResetPassword">
            @ViewBag.notice
            <div>
                <p style="color:red">@ViewBag.Error</p>
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input style="border-radius:20px;" name="email" type="email" id="email" class="form-control" placeholder="Nhập Email cần đặt lại mật khẩu" required />
            </div>


            <!-- Submit button -->
            <button style="border-radius:20px;background-color:#f8d9d6;color:#49130e" action="ChangePassword" type="submit" class="btn mb-3"><b>Xác nhận</b></button>

        </form>
    </div>

</div>

