
@{
    ViewData["Title"] = "SignUpOk";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    .mainBody {
        background-color: #fff8f6 !important;
    }
</style>
<div class="row" style="padding-top:100px;">
    <div class="alert alert-success" role="alert" ;>
        Đăng ký thành công. Vui lòng quay về trang đăng nhập!
    </div>

</div>

