@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="width:50px;">

</div>
<div class="container" style="background-color:white;border-radius:20px;padding:60px;margin-top:50px;">
    <img src="/logo/Whisk &Flourisk.svg" width="200"  alt=""/>
    <header>
        <h1>Chào mừng bạn đến với Whisk & Flourish</h1>
    </header>
    <section>
        <p>Chào mừng bạn đến với <strong>Whisk & Flourish</strong>, cửa hàng chuyên cung cấp các dụng cụ làm bánh chất lượng cao tại Việt Nam! Tại đây, chúng tôi tự hào mang đến cho bạn một thế giới đầy màu sắc của khuôn mẫu, máy trộn, và nguyên liệu làm bánh, tất cả đều được chọn lọc kỹ càng để phục vụ mọi nhu cầu từ cơ bản đến chuyên nghiệp. Dù bạn là người mới bắt đầu hay đã là một đầu Whisk & Flourish kỳ cựu, <strong>Whisk & Flourish</strong> luôn sẵn sàng hỗ trợ bạn trên hành trình tạo ra những tác phẩm bánh ngọt tuyệt vời. Ghé thăm chúng tôi để trải nghiệm sự đa dạng sản phẩm và dịch vụ tận tâm ngay hôm nay!</p>
    </section>
    <section>
        <h3>Thông tin về chúng tôi</h3>
        <p>Công ty TNHH Whisk & Flourish</p>
        <p>Địa chỉ: 123 Đường Đồng Khởi, Phường Bến Nghé, Quận 1, TP. HCM</p>
        <p>Giấy phép đăng ký kinh doanh số: 302302130210</p>
    </section>
    <section>
        <h4>Liên hệ chúng tôi</h4>
        <p>Điện thoại: 0123 456 789</p>
        <p>Email: <a href="mailto:contact@whiskflourish.vn">contact@whiskflourish.vn</a></p>
    </section>
    <section>
        <h4>Hệ thống cửa hàng ở Sài Gòn</h4>
        <p><strong>Cửa hàng 1: <a href="https://maps.app.goo.gl/xtiAttc63AopQHxn7">123 Đường Đồng Khởi,Phường Bến Nghé, Quận 1</a></strong></p>
        <p></p><strong>Cửa hàng 2: <a href="https://maps.app.goo.gl/ud2mAVRfThp4ryAq6">66 Đường Song Hành Xa Lộ, Phường An Phú, Quận 2, Thành phố Thủ Đức</a></strong>
        <p></p><strong>Cửa hàng 3: <a href="https://maps.app.goo.gl/NQLeHTGbko2pkNjP8">17 Đường Đồng Xoài, Phường 13, Quận Tân Bình</a></strong>
        <p></p><strong>Cửa hàng 4: <a href="https://maps.app.goo.gl/GugywubpmNcgGxvb6">82 Đường Chợ Lớn, Phường Bình Phú, Quận 6</a></strong>
    </section>


</div>

