
<div style="background-color:white;border-radius:20px;padding:30px">
    <h5>Địa chỉ</h5>
    <div class="d-flex mb-3">
        <select class="form-select form-select-sm me-3" style="width:33%;height:40px" id="city" aria-label=".form-select-sm">
            <option value="Tỉnh" selected>Tỉnh</option>
            <!-- Các tùy chọn thành phố ở đây -->
        </select>

        <select class="form-select form-select-sm me-3" style="width:33%" id="district" aria-label=".form-select-sm">
            <option value="Quận" selected>Quận</option>
            <!-- Các tùy chọn quận ở đây -->
        </select>

        <select class="form-select form-select-sm me-3" style="width:40%" id="ward" aria-label=".form-select-sm">
            <option value="Xã" selected>Xã</option>
            <!-- Các tùy chọn xã ở đây -->
        </select>
        <p></p>
        <!-- Thẻ <a> để hiển thị văn bản được chọn -->
    </div>
    <div class="input-group mb-3" style="width:630px;height:40px;min-width:50px">

        <input id="street" type="text" class="form-control" placeholder="Số nhà, đường, khu phố" aria-describedby="basic-addon1" value="Đường">
    </div>
    <p></p>
    <a>Địa chỉ của bạn là: </a>
    <b><a style="text-decoration:none" id="selectedText" href="#"></a></b>
    

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="~/js/location.js">
</script>