@{
    ViewData["Title"] = "Chính sách bảo mật, quyền riêng tư";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-3 p-sm-4 p-lg-5" style="margin-top:30px;">
    <div class="row" style=" padding-top:20px; background-color:white;border-radius:20px;padding:20px">
        <h2 style="text-align:center">Thông báo về cookie</h2>
        <p style="font-style:italic;text-align:center">Cập nhật ngày 13 tháng 6 năm 2024</p>
        <br />
        <p>Chúng tôi muốn thông báo về việc sử dụng cookie trên trang web của chúng tôi và cam kết bảo vệ quyền riêng tư của bạn.</p>
        <p>Cookie là các tập tin nhỏ chứa dữ liệu mà trình duyệt lưu trữ trên thiết bị của bạn để cung cấp trải nghiệm tốt hơn khi bạn truy cập trang web. Chúng tôi sử dụng cookie để hiểu hành vi của người dùng và cải thiện dịch vụ của mình.</p>
        <p>Bằng cách tiếp tục sử dụng trang web của chúng tôi, bạn đồng ý với việc sử dụng cookie theo chính sách quyền riêng tư của chúng tôi. Tuy nhiên, bạn có thể điều chỉnh cài đặt cookie trong trình duyệt của mình bất cứ lúc nào.</p>
        <p>Chúng tôi cam kết bảo vệ thông tin cá nhân của bạn và sử dụng cookie một cách an toàn và có trách nhiệm.</p>
        <p>Để biết thêm thông tin về cách chúng tôi sử dụng cookie và bảo vệ quyền riêng tư, vui lòng tham khảo <a href="/Home/Privacy">chính sách quyền riêng tư</a> trên trang web của chúng tôi.</p>
        <h2 style="text-align:center">Chính sách bảo mật</h2>
        <p style="font-style:italic;text-align:center">Cập nhật ngày 13 tháng 6 năm 2024</p>
        <br/>
        <p>Chính sách quyền riêng tư của chúng tôi là cam kết của chúng tôi đối với việc bảo vệ thông tin cá nhân của bạn khi bạn sử dụng dịch vụ của chúng tôi. Chúng tôi coi trọng việc bảo vệ thông tin cá nhân và cam kết tuân thủ mọi quy định về quyền riêng tư liên quan đến việc thu thập, sử dụng và lưu trữ thông tin cá nhân của người dùng.</p>
        <p>Trong chính sách này, chúng tôi sẽ cung cấp thông tin cụ thể về loại thông tin cá nhân mà chúng tôi thu thập, mục đích của việc sử dụng thông tin đó, cách thức chúng tôi bảo vệ thông tin cá nhân của bạn, và quyền lợi của bạn khi sử dụng dịch vụ của chúng tôi.</p>
        <p>Chúng tôi cam kết chỉ sử dụng thông tin cá nhân của bạn cho các mục đích cụ thể và hợp pháp, và không chia sẻ thông tin đó với bất kỳ bên thứ ba nào mà không có sự đồng ý của bạn.</p>
        <p>Chính sách quyền riêng tư của chúng tôi có thể được cập nhật định kỳ để phản ánh các thay đổi trong pháp luật hoặc thực tiễn kinh doanh của chúng tôi. Chúng tôi khuyến khích bạn kiểm tra thường xuyên để hiểu rõ cách chúng tôi bảo vệ thông tin cá nhân của bạn.</p>
        <p>Chúng tôi xin cam đoan rằng chính sách quyền riêng tư của chúng tôi được thiết kế để đảm bảo rằng thông tin cá nhân của bạn được bảo vệ một cách an toàn và có trách nhiệm, và chúng tôi luôn sẵn lòng trả lời mọi câu hỏi hoặc phản ánh của bạn về việc bảo vệ quyền riêng tư.</p>
    </div>
</div>

