.navbar {
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    background-color:#ffffff !important;
    padding-bottom:25px;
}

.navbar a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}


.transparent-search-bar {
    border: 0;
    outline: none;
    background-color: #fbf1f1; /* Độ trong suốt */
    padding: 20px 20px 20px 40px;
    border-radius: 20px;
    background-image: url(/);
    background-position: 10px 10px;
    background-repeat: no-repeat;
}
.transparent-search-bar::placeholder {
    color: black;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="search"] {
    height: 30px; /* Adjust as needed */
}

.search-form span {
    line-height: 30px; /* Adjust to match input height */
}